<div class="modal-header">
  <h4 class="modal-title pull-left">
    {{ modalOperation === "Adicionar" ? "Adicionar Item" : "Editar Item" }}
  </h4>
  <button
    type="button"
    class="btn btn-close"
    aria-label="Close"
    (click)="closeModal.emit(false)"
  ></button>
</div>
<div class="modal-body">
  <form [formGroup]="itemForm">
    <div class="form-group mb-3">
      <label for="descricao">Descrição:</label>
      <input
        type="text"
        class="form-control"
        id="descricao"
        formControlName="descricao"
      />
      <div
        *ngIf="
          control['descricao'].touched &&
          control['descricao'].hasError('required')
        "
        class="text-danger"
      >
        Campo obrigatório.
      </div>
    </div>

    <div class="row">
      <div class="form-group mb-3 col">
        <label for="referencia">Referência(h):</label>
        <input
          type="text"
          class="form-control"
          id="referencia"
          formControlName="referencia"
        />
        <div
          *ngIf="
            control['referencia'].touched &&
            control['referencia'].hasError('required')
          "
          class="text-danger"
        >
          Campo obrigatório.
        </div>
        <div
          *ngIf="
            control['referencia'].touched &&
            control['referencia'].hasError('pattern')
          "
          class="text-danger"
        >
          Referência inválida. Use o formato correto.
        </div>
      </div>

      <div class="form-group mb-3 col">
        <label for="tipoItem">Tipo de Item:</label>
        <select class="form-control" id="tipoItem" formControlName="tipoItem">
          <option value="" disabled selected>Escolha uma opção</option>
          <option value="descontos">Descontos</option>
          <option value="proventos">Proventos</option>
        </select>
        <div
          *ngIf="
            control['tipoItem'].touched &&
            control['tipoItem'].hasError('required')
          "
          class="text-danger"
        >
          Campo obrigatório.
        </div>
      </div>

      <div class="form-group mb-3 col">
        <label for="valor">Valor:</label>
        <input
          type="number"
          class="form-control"
          id="valor"
          formControlName="valor"
        />
        <div
          *ngIf="
            control['valor'].touched && control['valor'].hasError('required')
          "
          class="text-danger"
        >
          Campo obrigatório.
        </div>
        <div
          *ngIf="
            control['valor'].touched && control['valor'].hasError('pattern')
          "
          class="text-danger"
        >
          Valor inválido. Use o formato correto.
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="closeModal.emit(false)">
    Cancelar
  </button>
  <button type="button" class="btn btn-success" (click)="saveChanges()">
    {{ modalOperation === "Adicionar" ? "Adicionar" : "Salvar Alterações" }}
  </button>
</div>
