<div class="table-responsive">
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">Descrição</th>
        <th scope="col">Referência</th>
        <th scope="col">Descontos</th>
        <th scope="col">Proventos</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-light">
        <td scope="row"><i class="bi bi-plus"></i>Adicional Noturno</td>
        <td>12,00</td>
        <td></td>
        <td class="proventos">R$ 161,60</td>
      </tr>
      <tr>
        <td scope="row"><i class="bi bi-plus"></i>DSR Reflexo H.Extras</td>
        <td>4,14</td>
        <td></td>
        <td class="proventos">R$ 278,63</td>
      </tr>
      <tr class="table-light">
        <td scope="row"><i class="bi bi-plus"></i>Gratificação Hora Extra</td>
        <td>7,00</td>
        <td></td>
        <td class="proventos">R$ 565,61</td>
      </tr>
      <tr>
        <td scope="row"><i class="bi bi-plus"></i>Horas Extras c/ 100%</td>
        <td>60,00</td>
        <td></td>
        <td class="proventos">R$ 8.080,20</td>
      </tr>
      <tr class="table-light">
        <td scope="row"><i class="bi bi-plus"></i>Horas Normais</td>
        <td>188,00</td>
        <td></td>
        <td class="proventos">R$ 12.658,98</td>
      </tr>
    </tbody>
  </table>
</div>
