<div class="table-responsive mt-4">
  <div class="d-flex flex-row-reverse">
    <button
      *ngIf="isEdit"
      type="button"
      class="btn btn-outline-success d-flex align-items-center py-1"
      aria-label="Criar"
      (click)="openModal(template, 'Adicionar')"
    >
      <i class="bi bi-plus"></i>Adicionar item
    </button>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Descrição</th>
        <th scope="col">Referência</th>
        <th scope="col">Descontos</th>
        <th scope="col">Proventos</th>
        <th scope="col" *ngIf="isEdit">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of itensFolhaPagamento">
        <td scope="row">
          <i
            class="bi"
            [ngClass]="{ 'bi-dash': item.descontos, 'bi-plus': item.proventos }"
          ></i>
          {{ item.descricao }}
        </td>
        <td>{{ item.referencia }}</td>
        <td class="descontos">
          {{ item.descontos ? "(" + item.descontos + ")" : "" }}
        </td>
        <td class="proventos">{{ item.proventos }}</td>
        <td *ngIf="isEdit">
          <button
            type="button"
            class="btn p-0 m-0"
            aria-label="Editar"
            (click)="openModal(template, 'Editar')"
          >
            <i class="icon bi bi-pencil-square"></i>
          </button>
          <button type="button" class="btn p-0 m-0" aria-label="Deletar">
            <i class="icon bi bi-trash3"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      {{ modalOperation === "Adicionar" ? "Adicionar Item" : "Editar Item" }}
    </h4>
    <button
      type="button"
      class="btn btn-close"
      aria-label="Close"
      (click)="modalRef.hide()"
    ></button>
  </div>
  <div class="modal-body">
    {{
      modalOperation === "Adicionar"
        ? "Adicionar item à Folha de Pagamento"
        : "Editar item na Folha de Pagamento"
    }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">
      Cancelar
    </button>
    <button type="button" class="btn btn-success">
      {{ modalOperation === "Adicionar" ? "Adicionar" : "Salvar Alterações" }}
    </button>
  </div>
</ng-template>
