<div class="table-responsive mt-4">
  <div class="d-flex flex-row-reverse">
    <button
      *ngIf="isEdit"
      type="button"
      class="btn btn-outline-success d-flex align-items-center py-1"
      aria-label="Criar"
      (click)="openModal(template, 'Adicionar')"
    >
      <i class="bi bi-plus"></i>Adicionar item
    </button>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Descrição</th>
        <th scope="col">Referência</th>
        <th scope="col">Descontos</th>
        <th scope="col">Proventos</th>
        <th scope="col" *ngIf="isEdit">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of itensFolhaPagamento">
        <td scope="row">
          <i
            [ngClass]="
              'bi-' + (item.tipoItem === 'descontos' ? 'dash' : 'plus')
            "
          ></i>
          {{ item.descricao }}
        </td>
        <td>{{ item.referencia }}</td>
        <td class="descontos">
          {{
            item.tipoItem === "descontos"
              ? "(" + (item.valor | number) + ")"
              : ""
          }}
        </td>
        <td class="proventos">
          {{ item.tipoItem === "proventos" ? (item.valor | number) : "" }}
        </td>
        <td *ngIf="isEdit">
          <button
            type="button"
            class="btn p-0 m-0"
            aria-label="Editar"
            (click)="openModal(template, 'Editar')"
          >
            <i class="icon bi bi-pencil-square"></i>
          </button>
          <button type="button" class="btn p-0 m-0" aria-label="Deletar">
            <i class="icon bi bi-trash3"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #template>
  <app-item-pagamento-modal
    [modalOperation]="modalOperation"
    (closeModal)="modalRef.hide()"
  />
</ng-template>
