th {
  color: #989898 !important;
  border-bottom: solid 1px #e6e6e6;
  font-weight: bold;
}

td {
  color: #acacac !important;
  font-weight: bold;
  line-height: 28px;
}

tr {
  border: white;
}

.proventos,
.bi-plus {
  color: #41a58b !important;
}

.bi-pencil-square {
  color: rgb(173, 173, 173);
}

.bi-trash3 {
  color: rgb(255, 132, 132);
}

.bi-pencil-square:hover {
  color: rgb(59, 59, 59);
}

.bi-trash3:hover {
  color: rgb(189, 1, 1);
}

i {
  font-size: 20px;
  margin-right: 12px;
}

@media (max-width: 576px) {
  table {
    font-size: 12px;
  }

  .col {
    font-size: 14px;
  }
}
