.card {
  min-width: 330px;
  height: 480px;
  margin-right: 32px;
}

@media (max-width: 992px) {
  .card {
    width: 100%;
    margin: 20px 0;
    padding: 0;
  }
}

@media (max-width: 576px) {
  .card {
    width: 100%!important;
    padding: 20px 0 !important;
  }

  .card-body,
  p {
    border: none !important;
    margin: 0 !important;
  }

  .profile-card {
    height: 400px;
  }
}
