<div class="d-flex justify-content-center">
  <div class="container-custom d-flex gap-5">
    <div class="card pt-5 text-center" style="width: 350px">
      <div>
        <img
          class="rounded-circle"
          src="../../../assets/profile.jpg"
          alt="Profile Image"
          width="200px"
        />
      </div>
      <div class="card-body mt-5">
        <h4 class="h2 color-info fw-bold">Ricardo Santos Rocker</h4>
        <p class="color-secondary fw-bold pb-4 text-uppercase">Desenvoledor Angular</p>
        <p class="color-info mt-5 mb-4">ricardo.santos.rocker@gmail.com</p>
      </div>
    </div>
    <div class="card" style="width: 1000px">
      <div class="card-title h5 fw-bold text-secondary text-uppercase">
        Demonstrativo de pagamento
      </div>
      <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
      </div>
    </div>
  </div>
</div>
