<div class="d-flex justify-content-center">
  <div class="container-custom d-flex">
    <app-profile-card class="profile-card"></app-profile-card>

    <div class="card p-4 demo-pagamento-card">
      <div class="card-title h5 fw-bold color-primary text-uppercase">
        Demonstrativo de pagamento
      </div>
      <hr style="opacity: 10%" />
      <div class="card-body border mt-2">
        <h4 class="card-title text-uppercase color-primary">
          06/2020 - Cálculo Mensal
        </h4>
        <hr style="opacity: 10%" />
        <div class="grid mt-5">
          <div class="row">
            <div class="col col-span">
              <span class="color-span">Tipo de pagamento</span>
              <label class="color-label ms-3 fw-bold">Depósito bancário</label>
            </div>
            <div class="col col-span">
              <span class="color-span">Data de pagamento</span>
              <label class="color-label ms-3 fw-bold">05/07/2020</label>
            </div>
            <div class="row">
              <div class="col col-span">
                <span class="color-span">Banco</span>
                <label class="color-label ms-3 fw-bold">Banco do Brasil</label>
              </div>
              <div class="col col-span">
                <span class="color-span">Agência</span>
                <label class="color-label ms-3 fw-bold">1</label>
              </div>
              <div class="col col-span">
                <span class="color-span">Conta</span>
                <label class="color-label ms-3 fw-bold">1234567-89</label>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-5">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs fw-bold" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active">Rubricas</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link color-info">Gráfico</button>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="table-responsive">
            <table class="table mt-4">
              <thead>
                <tr>
                  <th scope="col">Descrição</th>
                  <th scope="col">Referência</th>
                  <th scope="col">Descontos</th>
                  <th scope="col">Proventos</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-light">
                  <td scope="row">
                    <i class="bi bi-plus"></i>Adicional Noturno
                  </td>
                  <td>12,00</td>
                  <td></td>
                  <td class="proventos">R$ 161,60</td>
                </tr>
                <tr>
                  <td scope="row">
                    <i class="bi bi-plus"></i>DSR Reflexo H.Extras
                  </td>
                  <td>4,14</td>
                  <td></td>
                  <td class="proventos">R$ 278,63</td>
                </tr>
                <tr class="table-light">
                  <td scope="row">
                    <i class="bi bi-plus"></i>Gratificação Hora Extra
                  </td>
                  <td>7,00</td>
                  <td></td>
                  <td class="proventos">R$ 565,61</td>
                </tr>
                <tr>
                  <td scope="row">
                    <i class="bi bi-plus"></i>Horas Extras c/ 100%
                  </td>
                  <td>60,00</td>
                  <td></td>
                  <td class="proventos">R$ 8.080,20</td>
                </tr>
                <tr class="table-light">
                  <td scope="row"><i class="bi bi-plus"></i>Horas Normais</td>
                  <td>188,00</td>
                  <td></td>
                  <td class="proventos">R$ 12.658,98</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
